@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

.cards-container .card {
    display: inline-block;
    overflow: visible;
    width: 100%;
}

#input-quantity{
    width: 50px;
}
.header-wrapper{

    background: #f5f5f5;
    width: 100%; }
div.site-description div.row div.col-sm-4 div.pull-right div#simple-social-icons-3.widget.simple-social-icons{ margin-top: 5px;}

@media (min-width: 768px) {
    .navbar-left {
        float: left !important;
    }
    .navbar-right {
        float: right !important;
        margin-right: -15px;
    }
    .navbar-right ~ .navbar-right {
        margin-right: 0;
    }
    .dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
        background-color: #00AAD4;
        background-image: linear-gradient(to bottom, #00AAD4 0px, #00AAD4 100%);
        background-repeat: repeat-x;
    }
}
.navbar-default {
    background-color: transparent;
    border-color: transparent;
}
.navbar-default .navbar-brand {color: #00AAD4;
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    background-color: transparent;
    color: #5e5e5e;
}
.navbar-default .navbar-text {color: #00AAD4;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    background-color: transparent;
    color: #333;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    background-color: #00AAD4;
    color: #fff;
}
.navbar-default .navbar-nav > .disabled > a, .navbar-default .navbar-nav > .disabled > a:focus, .navbar-default .navbar-nav > .disabled > a:hover {
    background-color: transparent;
    color: #ccc;
}
.navbar-default .navbar-toggle {
    border-color: #00AAD4;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #ddd;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #00AAD4;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    border-color: transparent;
    color: #555;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {color: #00AAD4;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
        background-color: transparent;
        color: #333;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover {
        background-color: #e7e7e7;
        color: #555;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a, .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus, .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover {
        background-color: transparent;
        color: #ccc;
    }
    .navbar .navbar-nav .open .dropdown-menu > .active > a, .navbar .navbar-nav .open .dropdown-menu > .active > a:focus, .navbar .navbar-nav .open .dropdown-menu > .active > a:hover {
        background-image: linear-gradient(to bottom, #000 0px, #00AAD4 100%);
        background-repeat: repeat-x;
        color: #fff;
    }
}
.navbar-default .navbar-nav > li > a {color: #00AAD4;
    text-transform: uppercase; font-size: 12px;}
.navbar-default {
    background-image: linear-gradient(to bottom, transparent 0px, transparent 100%);
    background-repeat: repeat-x;
    border-radius: 0px;
    box-shadow: 0 0px 0 rgba(255, 255, 255, 0.15) inset, 0 0px 0px rgba(0, 0, 0, 0.075);
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .open > a {
    background-image: linear-gradient(to bottom, transparent 0px, transparent 100%);
    background-repeat: repeat-x;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.075) inset;
}
.navbar-brand, .navbar-nav > li > a {
    text-shadow: 0 0px 0 rgba(255, 255, 255, 0.25);
}
@font-face {
    font-family: "ssi-icomoon";
    font-style: normal;
    font-weight: normal;
    src: url("../font/ssi-icomoon.eot?#iefixssi-texv9a") format("embedded-opentype"), url("../font/ssi-icomoon.woff?ssi-texv9a") format("woff"), url("../font/ssi-icomoon.ttf?ssi-texv9a") format("truetype"), url("../font/ssi-icomoon.svg?ssi-texv9a#ssi-icomoon") format("svg");
}
.simple-social-icons {
    overflow: hidden;
}
.simple-social-icons ul {
    margin: 0;
    padding: 0;
}
.simple-social-icons ul li {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
    border: medium none !important;
    float: left;
    list-style-type: none !important;
    margin: 0 6px 12px !important;
    padding: 0 !important;
}
.simple-social-icons ul li a {
    -moz-osx-font-smoothing: grayscale;
    border: medium none !important;
    box-sizing: content-box;
    display: inline-block;
    font-family: "ssi-icomoon";
    font-style: normal !important;
    font-variant: normal !important;
    font-weight: normal !important;
    line-height: 1em;
    text-align: center;
    text-decoration: none !important;
    text-transform: none !important;
    width: 1em;
}
.simple-social-icons ul.aligncenter {
    text-align: center;
}
.simple-social-icons ul.aligncenter li {
    display: inline-block;
    float: none;
}
.product{
    margin: 30px;
}
.img-responsive{
    width: 90px;
    height: 90px;
    margin-right: 700px;
}
h1{
    text-align: center;
}
body {
    font-family: "Poppins", sans-serif;
    color: #444444;
}
svg{
    width: 35px;

}
.baskette{
    width: 250px !important;
}
a,
a:hover {
    text-decoration: none;
    color: inherit;
}
.row-Product{
    display: grid !important;
    grid-template-columns: repeat(4,1fr)!important;
    margin-left: 5%;
}
.admin-img
{
    width: 50px !important;
    height: 50px !important;
}
table{
    text-align: center;
}
#panier {
    position: relative;
    display: inline-block;
    width: 50px;
}

#panier img {
    width: 40px;
    height: 40px;
}

#panier #nombre-articles {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 14px;
    text-align: center;
    line-height: 20px;
}

img {
    width: 200px;
    height: 200px;

}

.section-products {
    border-radius: 3px;
    padding: 80px 0 54px;

}

.section-products .header {
    margin-bottom: 50px;

}
.card {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.footer-cta {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
}
.price {
    color: #263238;
    font-size: 24px;
}

.card-title {
    color:#263238
}

.sale {
    color: #E53935
}

.sale-badge {
    background-color: #E53935
}
.section-products .header h3 {
    font-size: 1rem;
    color: #fe302f;
    font-weight: 500;
}

.section-products .header h2 {
    font-size: 2.2rem;
    font-weight: 400;
    color: #444444;
    font-family: Bahnschrift;
}

.section-products .single-product {
    margin-bottom: 26px;
}

.section-products .single-product .part-1 {
    position: relative;
    height: 290px;
    max-height: 290px;
    margin-bottom: 20px;
    overflow: hidden;
}

.section-products .single-product .part-1::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: all 0.3s;
}

.section-products .single-product:hover .part-1::before {
    transform: scale(1.2,1.2) rotate(5deg);
}

.section-products #product-1 .part-1::before {
    background: url("https://i.ibb.co/L8Nrb7p/1.jpg") no-repeat center;
    background-size: cover;
    transition: all 0.3s;
}

.section-products #product-2 .part-1::before {
    background: url("https://i.ibb.co/cLnZjnS/2.jpg") no-repeat center;
    background-size: cover;
}

.section-products #product-3 .part-1::before {
    background: url("https://i.ibb.co/L8Nrb7p/1.jpg") no-repeat center;
    background-size: cover;
}

.section-products #product-4 .part-1::before {
    background: url("https://i.ibb.co/cLnZjnS/2.jpg") no-repeat center;
    background-size: cover;
}

.section-products .single-product .part-1 .discount,
.section-products .single-product .part-1 .new {
    position: absolute;
    top: 15px;
    left: 20px;
    color: #ffffff;
    background-color: #fe302f;
    padding: 2px 8px;
    text-transform: uppercase;
    font-size: 0.85rem;
}

.section-products .single-product .part-1 .new {
    left: 0;
    background-color: #444444;
}

.section-products .single-product .part-1 ul {
    position: absolute;
    bottom: -41px;
    left: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
    opacity: 0;
    transition: bottom 0.5s, opacity 0.5s;
}

.section-products .single-product:hover .part-1 ul {
    bottom: 30px;
    opacity: 1;
}

.section-products .single-product .part-1 ul li {
    display: inline-block;
    margin-right: 4px;
}

.section-products .single-product .part-1 ul li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #ffffff;
    color: #444444;
    text-align: center;
    box-shadow: 0 2px 20px rgb(50 50 50 / 10%);
    transition: color 0.2s;
}

.section-products .single-product .part-1 ul li a:hover {
    color: #fe302f;
}

.section-products .single-product .part-2 .product-title {
    font-size: 1rem;
}

.section-products .single-product .part-2 h4 {
    display: inline-block;
    font-size: 1rem;
}

.section-products .single-product .part-2 .product-old-price {
    position: relative;
    padding: 0 7px;
    margin-right: 2px;
    opacity: 0.6;
}

.section-products .single-product .part-2 .product-old-price::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #444444;
    transform: translateY(-50%);
}
